# Ignore Python virtual environment
venv/

# Ignore environment file
.env

# Ignore compiled Python files
*.pyc
*.pyo
__pycache__/

# Ignore Jupiter Notebook files
.ipynb_checkpoints/
#.ipynb_files/

# Ignore CSV dumps used for development and testing
csv_dumps/

# Ignore Snowflake config files
.snowflake/

# Ignore local development settings
settings.ini

# Ignore IDE-specific files
.vscode/
.idea/

# Ignore logs
*.log

# Ignore package lock files
pip-lock.txt
poetry.lock

# Ignore any other files or directories specific to your project
